{% extends 'vareaze/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ user.first_name }} {{ user.last_name }}</title>
</head>
<body>
	<p>{{ user.first_name }} {{ user.last_name }}<br><br>
		{% for contract in contracts %}
			{% if contract.owner.email == request.user.email %}
				{{ contract }}<br>
				{% else %}
			{% endif %}
		{% empty %}
		{% endfor %}

	</p>
</body>
{% endblock content %}
</html>